#[[	char* internalKey = NULL;

    if (this->name == NULL|| this->version == NULL)
        return NULL;

	if (this->internalKey == NULL) {
		internalKey = malloc(sizeof(char) * (strlen(this->name) + strlen("/") + strlen(this->version)) + 1);

		if (internalKey == NULL)
			return NULL;

		sprintf(internalKey, "%s/%s", this->name, this->version);

		this->internalKey = internalKey;
		return internalKey;
	} else {
		return this->internalKey;
	}]]#