const struct ClassType getClass(TYPE type)
{
	for (int i=0; i<NB_CLASSES; i++)
		if (Classes[i].type == type)
			return Classes[i];
	exit(EXIT_FAILURE);
}

struct at getAttr(struct ClassType ctype, char* name)
{
	struct at a;
	printf("In class %d looking for %s\n", ctype.type, name);
	for (int i=0; i<ctype.nb_attributes; i++)
	{
		a = ctype.attributes[i];
		if (strcmp(a.attr_name, name) == 0)
		{
			return a;
		}
	}
	printf("\tNothing matched for %s\n", name);
	return a;
}

char* parseStr(struct jsonparse_state *state)
{
	char type;
	while((type = jsonparse_next(state)) != JSON_TYPE_STRING)
	{}
	jsonparse_copy_value(state, attr, sizeof attr);
	char* toReturn = malloc(strlen(attr) + 1);
	strcpy(toReturn, attr);
	printf("found str %s copied is %s\n", attr, toReturn);
	return toReturn;
}

void doNothing(struct jsonparse_state* state, void* o, TYPE obj_type, TYPE ptr_type)
{
}

void parseArray(struct jsonparse_state *state, void* o, TYPE obj_type, TYPE ptr_type)
{
	printf("In class %d looking to parse array of %d\n", obj_type, ptr_type);
	char type = JSON_TYPE_ARRAY;
	while((type = jsonparse_next(state)) != ']')
	{
		if (type == JSON_TYPE_OBJECT)
		{
			//printf("In %d and need to create %d instance\n", obj_type, ptr_type);
			void* ptr = construct[ptr_type]();
			parseObject(state, ptr, ptr_type, ptr_type);

			//TODO problem is here, need to generate more code and to not only take care
			// of the type but also of the name of the attribute.
			// 2 attributes with the same type will result in ignoring one
			if (obj_type == CONTAINERROOT_TYPE && ptr_type == GROUP_TYPE)
			{
				((ContainerRoot*)o)->VT->containerRootAddGroups(o, ptr);
			} else if (obj_type == CONTAINERROOT_TYPE && ptr_type == CONTAINERNODE_TYPE)
			{
				((ContainerRoot*)o)->VT->containerRootAddNodes(o, ptr);
			}

		}
	}
}

/**
 *
 * param o: object to set the value on
 *
 */
void parseObject(struct jsonparse_state *state, void* o, TYPE obj_type, TYPE ptr_type)
{
	char type = JSON_TYPE_PAIR_NAME;
	struct ClassType ctype = getClass(obj_type);

	while (type != '}')
	{
		type = jsonparse_next(state);
		if (type == JSON_TYPE_PAIR_NAME)
		{
			printf("In object %d\n", obj_type);
			jsonparse_copy_value(state, attr, sizeof attr);
			struct at get = getAttr(ctype, attr);
			//printf("In %d, need to parse: %s of type %c and ptr_type:%d struct name is %s\n", obj_type, attr, type, get.ptr_type, get.attr_name);

			if (strcmp(get.attr_name, attr) == 0)
				get.setter(state, o, ptr_type, get.ptr_type);
		}
	}
}

ContainerRoot* init_deserial()
{
	ContainerRoot* ret = new_ContainerRoot();
	ref_map = hashmap_new(getIdFromRef);

	return ret;
}

void print_stored_ref()
{
	hashmap_map* m = (hashmap_map*) ref_map;
	if (m != NULL)
	{
		for (int i=0; i<m->table_size; i++)
		{
			ref* r = (ref*) (m->data[i].data);
			printf("[%d]: %s @: %p\n", i, r->id, r->whereToWrite);
			free(r->id);
			free(r);
		}
	}
}
