	${classname}* pObj = NULL;
	printf("Creating a new instance of ${classname}.\n");
	/* Allocating memory */
	pObj = malloc(sizeof(${classname}));

	if (pObj == NULL) {
		return NULL;
	}

	/*
	 * Virtual Table
	 */
	pObj->VT = &${vtName};

	/*
	 * ${classname}
	 */
	init${classname}(pObj);

	return pObj;
