	$class *o = #[[new_]]#$class();
	#[[ck_assert(o->]]#$ref_name#[[ == NULL);]]#
	char *str = "my_str";
	#[[ck_assert(o->]]#$ref_name#[[ == NULL);]]#
	#[[o->VT->]]#$lowerCaseVarClass#[[Add]]#$upperCaseVar#[[(o, str);]]#
	#[[ck_assert(o->]]#$ref_name#[[ != NULL);]]#
	#[[ck_assert(o->]]#$ref_name == str);
	o->VT->delete(o);
	free(o);
