    ${type} *container = NULL;
    char *internalKey = ptr->VT->internalGetKey(ptr);

    if(internalKey == NULL) {
        PRINTF("ERROR: The ${type} cannot be added in ${classname} because the key is not defined\n");
    } else {
        if(this->${refname} == NULL) {
            this->${refname} = hashmap_new(get_key_for_hashmap);
        }
        if(hashmap_get(this->${refname}, internalKey, (void**)(&container)) == MAP_MISSING) {
            if(hashmap_put(this->${refname}, internalKey, ptr) == MAP_OK) {
                ${iscontained}
            } else {
                PRINTF("ERROR: ${refname} cannot be added!\n");
            }
        } else {
            PRINTF("WARNING: id %s already exists in ${refname} map\n", internalKey);
        }
    }
}
