	char *internalKey = ptr->VT->internalGetKey(ptr);

	if (internalKey == NULL) {
		PRINTF("ERROR: The ${type} cannot be removed in ${classname} because the key is not defined\n");
	}
	else {
		if (hashmap_remove(this->${refname}, internalKey) == MAP_OK) {
			${iscontained}
		} else {
			PRINTF("ERROR: component %s cannot be removed!\n", internalKey);
		}
	}