#[[	/* KMFContainer */
	fptrKMFMetaClassName metaClassName;
	fptrKMFInternalGetKey internalGetKey;
	fptrKMFGetPath getPath;
	int (*fptrToJSON)(void*);
	fptrFindByPath findByPath;
	fptrDelete delete;]]#
