#[[	/* KMFContainer */
	fptrKMFMetaClassName metaClassName;
	fptrKMFInternalGetKey internalGetKey;
	fptrKMFGetPath getPath;
	int (*fptrAccept)(void*, Visitor*);
	fptrFindByPath findByPath;
	fptrDelete delete;]]#
